*{
  padding: 0;
  margin:0;
}
.collect-page{
  
  
  .collect-header{
    .header-content{
      background-image: url('../../public/images/headMidBg.png') !important; 
      .header-left{
        color:#fff;
      }
      .header-center{
        color:#fff;
      }
    }
  }
  .collect-box{
    padding:32px 30px 20px 30px;
    background-color:rgba(247,246,249,1);
  }
  .collect-box{
    .collect-input{
      .fun-link{
        display: flex;
        line-height: 102px;
        font-size: 28px;
        color: #333;
        .require {
          display: inline-block;
          color: #F15D61;
          width: 0.24rem;
          margin-left: -0.24rem;
        }
      }
      .right {
        color: #C6CBD7;
        span {
          vertical-align: middle;
        }
      }
      .fun-icon {
        position: absolute;
        right: 30px;
        color: #c6cbd7;
      }
      .selector-label {
        color: #949AA7;
        padding-right: 30px;
      }
      .selected {
        color: #2A364E;
      }
    }
    .collect-content {
      .input-label {
        color: #949AA7;
      }
      .input-value {
        color: #2A364E;
      }
    }
  }
  .btn-box{
    .footer-content{
      padding:15px 20px;
      text-align: right;
      .cancle-btn{
        width: 210px;
        height: 78px;
        font-size: 30px;
        color:rgba(148,154,167,1);
        margin-right:20px;
        font-weight:400;
      }
      .save-btn{
        width: 210px;
        height: 78px;
        font-size: 30px;
        background:rgba(0,127,255,1);
        font-weight:400;
      color:rgba(255,255,255,1);
      }
    }

  }
}